html {
	height: 100vh;
}

body {
	height: 100vh;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#title-bar {
	display: flex;
	background: linear-gradient(90deg, black, white);
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: 100px;
	align-items: center;
}

img {
	height: 80px;
	width: 80px;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#title {
	display: inline;
	margin-left: 20px;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: black;
	text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
	/*font-weight: 300;*/
}

#list-wrapper {
	position: relative;
	height: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-header {
	position: relative;
	width: 1044px;
	border: 2px solid black;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

span {
	position: relative;
	float: right;
	right: 5%;
	margin-top: 31px;
	color: #76FF03;
	font-size: 14px;
	cursor: pointer;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;
}

span:hover {
	color: red;
}

#list-title {
	position: relative;
	left: 5%;
	font-size: 30px;
	font-weight: 400;
	display: inline-block;
}

ul {
	/*position: relative;*/
	width: 995px;
	max-height: 65vh;
	overflow: hidden;
	overflow-y: scroll;
	padding-right: 50px;
	border: 2px solid black;
	border-radius: 5px;
	margin: 10px;
}

#tabs-list {
	list-style-type: none;
	padding-left: 0px;
}

li {
	margin-left: 50px;
	position: relative;
	height: 30px;
	font-size: 14px;
	transition: all 0.2s linear;
}

a {
	position: relative;
	bottom: 8px;
	/*max-width: 900px;*/
	width: 100%;
	color: black;
	text-decoration:none;
	text-align: center;
	vertical-align: middle;
	cursor: default;
}

li:hover a {
	background-color: #eee;
}

li:hover {
	background-color: #eee;
}

.favicon {
	position: relative;
	width: 18px;
	height: 18px;
	margin-bottom: 0px;
	margin-right: 10px;
	bottom: 3px;
}

.clear {
	position: relative;
	width: 12px;
	height: 12px;
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	bottom: 5px;
	left: 10px;
	opacity: 0.0;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: initial;
	transition-delay: initial;
}

li:hover > .clear {
	opacity: 1.0;
}

li:hover {
  text-decoration: none;
  transform: scale(1.1);
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		/*background-clip: content-box;*/
		/*background-color: lime;*/
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
    background: black;
    -webkit-box-shadow: inset 10 10 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: black;
}
